<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Gerer User</h1>
                    </div> <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1"> <a  (click)="logout()"  
                                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                <span class=" pe-2"> <i class="bi bi-box-arrow-left"></i> </span> <span>Log Out</span>
                            </a>
                        </div>
                    </div>
                </div> <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item "> <a routerLink="/dashbord-admin" class="nav-link font-regular">Home</a> </li>
                    <li class="nav-item"> <a routerLink="/gerer-demande" class="nav-link font-regular">
                            Requests</a> </li>
                    <li class="nav-item"> <a routerLink="/gerer-user" class="nav-link active"> Users</a> </li>
                
                    <li class="nav-item"> <a routerLink="/motif" class="nav-link font-regular"> Motif</a>
                    </li>
                </ul>
            </div>
        </div>
    </header> <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="row g-6 mb-6">

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span
                                        class="h6 font-semibold text-muted text-sm d-block mb-2">Employe</span> <span
                                        class="h3 font-bold mb-0">{{dataArray.users}}</span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <i
                                            class="bi bi-people"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Request
                                        Accepted</span> <span class="h3 font-bold mb-0">{{dataArray.acepted}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white text-lg rounded-circle"> <i
                                            class="bi bi-check-circle"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Request
                                        In Progress</span> <span class="h3 font-bold mb-0">{{dataArray.encours}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white text-lg rounded-circle"> <i
                                            class="bi bi-hourglass-split"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow border-0 mb-7">
                <div class="card-header">

                    <h5 class="mb-0">Users</h5>
                    <div style="text-align: right;">
                        <button class="btn d-inline-flex btn-sm btn-primary mx-1"> <span data-toggle="modal"
                                data-target="#exampleModal1" class="btn btn-sm btn-neutral" class=" pe-2"> Create User +
                            </span>
                        </button>
                    </div>
                </div>

                <div class="table-responsive">

                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                              <th scope="col"> </th>
                              <th scope="col">Cin</th>
                                <th scope="col">First_Name</th>
                                <th scope="col">Last_Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Date_Birthday</th>
                                <th scope="col">Balance</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataArrayemploye; index as i">

                                <td *ngIf="data.role == 'employee' ">
                                <img alt="" src="{{data.user_image_url}}" width="50px">
                                </td>
                                <td *ngIf="data.role == 'employee' "> {{data.cin}} </td>
                                <td *ngIf="data.role == 'employee' "> {{data.nom}} </td>
                                <td *ngIf="data.role == 'employee' "> {{data.prenom}} </td>
                                <td *ngIf="data.role == 'employee' "> {{data.email}} </td>
                                <td *ngIf="data.role == 'employee' "> {{data.datenaissance}} </td>
                                <td *ngIf="data.role == 'employee' "> {{data.balance}} </td>

                                <td *ngIf="data.role == 'employee' " class="text-end"> <button type="button" data-toggle="modal"
                                    data-target="#exampleModal2"
                                       class="btn btn-sm btn-neutral"  (click)="getdata(data.id,data.nom,data.prenom,data.cin,data.datenaissance)"> 
                                        Update </button> <button class="bi bi-trash"
                                        (click)="delete(data.id,i)"></button>

                                </td>

                            </tr>
                            <div class="card-footer border-0 py-5"> <span class="text-muted text-sm"> Showing
                                    {{dataArray.users}} Users</span> </div>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </main>
</div>











<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="addemployee" #f="ngForm" (ngSubmit)="addnewemployee (f); f.reset()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email </label>
                        <input type="text" name="email" [(ngModel)]="user.email" formControlName="email" class="form-control" rows="3" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">cin </label>
                        <input type="text" name="cin" [(ngModel)]="user.cin" formControlName="cin" class="form-control" rows="3" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">firstname </label>
                        <input type="text" class="form-control" name="prenom" [(ngModel)]="user.prenom" formControlName="prenom"  rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">LastName </label>
                        <input type="text" class="form-control" name="nom" [(ngModel)]="user.nom" formControlName="nom" rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">datenaissance </label>
                        <input type="date" name="datenaissance" [(ngModel)]="user.datenaissance" formControlName="datenaissance" class="form-control" rows="3" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Password </label>
                        <input type="password" class="form-control" [(ngModel)]="user.password" formControlName="password" name="password" rows="3" required />
                    </div>



                    <br>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>














<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update This Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  [formGroup]="updateuser" #f="ngForm" (ngSubmit)="updateemploye (f); f.reset()">
            
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">cin </label>
                        <input type="number" class="form-control" name="cin" [(ngModel)]="datauser.cin" formControlName="cin"  rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">First Name </label>
                        <input type="text" class="form-control" name="nom" [(ngModel)]="datauser.nom" formControlName="nom" rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">LastName </label>
                        <input type="text" class="form-control" name="prenom" [(ngModel)]="datauser.prenom" formControlName="prenom" rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">LastName </label>
                        <input type="date" class="form-control" name="datenaissance" [(ngModel)]="datauser.datenaissance" formControlName="datenaissance" rows="3" required />
                    </div>
                    



                    <br>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>