<div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Welcome {{employeedata.prenom}} {{employeedata.nom}}</h1>
                    </div> <!-- Actions -->
                    <div class="col-sm-6 col-12 text-sm-end">
                        <div class="mx-n1"> <a (click)="logout()"
                                class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                <span class=" pe-2"> <i class="bi bi-box-arrow-left"></i> </span> <span>Log Out</span>
                            </a>
                            <span class=" pe-2">
                            </span>
                        </div>
                    </div>
                </div> <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                    <li class="nav-item "> <a routerLink="/dashboard-employee" class="nav-link active">Home</a>
                    </li>


                </ul>
            </div>
        </div>
    </header> <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
            <!-- Card stats -->
            <div class="row g-6 mb-6">

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <form [formGroup]="imageupdate" #f="ngForm" (ngSubmit)="updateimage(f)">
                                <div class="row">
                                    <img [src]="employeedata.user_image_url" width="50px"
                                        class="img-circle profile-avatar" alt="User avatar">

                                    <input type="file" class="form-control" (change)="fileChange($event)"
                                        [defaultValue]="" class="form-control" formControlName="avatar" rows="3"
                                        width="50px" required>
                                </div>
                                <button type="submit" class="btn btn-primary px-4"
                                    style="background-color: rgb(38, 8, 158);">Update Image</button>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">Add New
                                        Request</span> <span class="h3 font-bold mb-0"> </span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <button>
                                            <i data-toggle="modal" data-target="#exampleModal1"
                                                class="bi bi-person-plus-fill"></i></button> </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">

                                        Update Profil
                                    </span> <span class="h3 font-bold mb-0"> </span> </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> <button>
                                            <i data-toggle="modal" data-target="#exampleModal2"
                                                class="bi bi-gear-fill"></i></button> </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2">

                                       The balance
                                    </span> <span class="h3 font-bold mb-0"> </span> </div>
                                <div class="col-auto"> <div *ngFor="let data of dataArrayyy.demandeid"> 
                                    <div class="icon icon-shape bg-primary text-white text-lg rounded-circle"> 
                                            <i 
                                                ></i>{{data.employe.balance}} 
                                            
                                            </div> </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class="card shadow border-0 mb-7">
                <div class="card-header">
                    <h5 class="mb-0">Manage Request</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Cin </th>
                                <th scope="col">First Name </th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Employe Email</th>
                                <th scope="col">Date_Birthday </th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Motif</th>
                            
                                <th scope="col">Request</th>
                                <th> </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataArrayyy.demandeid; index as i">
                                <td> {{data.employe.cin}} </td>
                                <td> {{data.employe.nom}} </td>
                                <td> {{data.employe.prenom}} </td>
                                <td> {{data.employe.email}} </td>
                                <td> {{data.employe.datenaissance}} </td>
                                <td> {{data.start_date}} </td>
                                <td> {{data.end_date}} </td>
                                <td> {{data.motif.reason}} </td>
                            
                                <td>
                                    <button *ngIf="data.status=='refuse' ">
                                        <p class="text-danger">{{data.status}} </p>
                                    </button>
                                    <button *ngIf="data.status=='accept' ">
                                        <p class="text-success">{{data.status}} </p>
                                    </button>
                                    <button *ngIf="data.status=='inprogress'">
                                        <p class="text-warning">{{data.status}} </p>
                                    </button>

                                </td>
                               
                                <td class="text-end"  > <button    *ngIf="data.status=='accept' || data.status=='refuse'"
                                    readonly style="cursor: not-allowed;" > update</button> <button
                                    *ngIf="data.status==='inprogress' "
                                        data-toggle="modal" data-target="#exampleModal3"
                                        (click)="getdata(data.id,data.start_date,data.end_date,data.commentaire,data.motif_id)" 
                                       >Update</button> 

                                        
                                    

                                        <button
                                        *ngIf="data.status==='inprogress' "
                            
                                         (click)="delete(data.id , i)"
                                         class="delete"><i class="bi bi-trash"></i> </button>
                                        <button
                                        *ngIf="data.status==='accept' ||data.status==='refuse' "
                                         readonly style="cursor: not-allowed;"
                                         class="delete"> <i class="bi bi-trash"></i> </button>
                                         
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0 py-5"> <span class="text-muted text-sm" class="text-muted text-sm">
                        Showing {{dataArrayyy.nbemploye}} Request



                    </span> </div>
            </div>
        </div>
    </main>
</div>





<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="adddemande" #f="ngForm" (ngSubmit)="addnewdemande (f); f.reset()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">start_date </label>
                        <input type="date" name="start_date" [(ngModel)]="demande.start_date"
                            formControlName="start_date" class="form-control" rows="3" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">end_date </label>
                        <input type="date" name="end_date" [(ngModel)]="demande.end_date" formControlName="end_date"
                            class="form-control" rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Abscence Motif </label>
                        <select class="form-control" formControlName="motif_id">
                            <option disabled selected>Select your Abscence </option>
                            <option *ngFor="let item of motifs" [value]="item.id"> {{item.reason}} </option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"> commentaire </label>
                        <input type="text" name="commentaire" [(ngModel)]="demande.commentaire"
                            formControlName="commentaire" class="form-control" rows="3" required />
                    </div>

                    <br>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>












<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update my Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateuser" #f="ngForm" (ngSubmit)="updateemploye (f); f.reset()">

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"> Email </label>
                        <input readonly type="email" class="form-control" name="text" value="{{employeedata.email}}"
                            rows="3" required />
                    </div>



                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">cin </label>
                        <input readonly type="number" class="form-control" name="cin" [(ngModel)]="employeedata.cin"
                            formControlName="cin" rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">First Name </label>
                        <input type="text" class="form-control" [(ngModel)]="employeedata.nom" formControlName="nom"
                            rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">LastName </label>
                        <input type="text" class="form-control" [(ngModel)]="employeedata.prenom"
                            formControlName="prenom" rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Date_Birthday </label>
                        <input type="date" class="form-control" [(ngModel)]="employeedata.datenaissance"
                            formControlName="datenaissance" rows="3" required />
                    </div>


                    <br>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>













<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updatedemandeForm" #f="ngForm" (ngSubmit)="updatedemande (f); f.reset()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">start_date </label>
                        <input type="date" name="start_date" [(ngModel)]="datademande.start_date"
                            formControlName="start_date" class="form-control" rows="3" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">end_date </label>
                        <input type="date" name="end_date" [(ngModel)]="datademande.end_date"
                            formControlName="end_date" class="form-control" rows="3" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Abscence Motif </label>
                        <select class="form-control" formControlName="motif_id" >
                            <option disabled selected>Select your Abscence </option>
                            <option *ngFor="let item of motifs" [value]="item.id"> {{item.reason}} </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"> commentaire </label>
                        <input type="text" name="commentaire" [(ngModel)]="datademande.commentaire"
                            formControlName="commentaire" class="form-control" rows="3" required />
                    </div>

                    <br>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>